@media (max-width: 1400px) {
	#portfolio .grid .grid-item{ width: 29%; margin: 2% }
	#profile .history ol li .topWrap{flex-direction: column;justify-content:center;}
}

@media all and (max-width:1024px) {
	#portfolio .grid .grid-item{ width: 44%; margin: 3% }
	#profile .inner .group{width:40%;margin:1%;}
	#profile .inner .photo{display:none;}
	#profile .inner .skill{width:100%;margin:0;}
	#profile .inner .history{width:60%;margin:1%;}
}

@media all and (max-width:768px) {
	#profile .history ol li .detail dl dt{float:none;width:100%;text-align:left;}
	#profile .history ol li .detail dl dd{float:none;width:100%;padding-left:10px;}
	.modal .detailWrap{justify-content: left;flex-direction: column;}
	.modal .detailWrap > div{width:100%;}
	.modal .infoArea .projectName{margin-top:20px;}
}

@media all and (max-width:600px) {
	h2{padding-top:0;}
	#portfolio .grid .grid-item{ width: 94%; margin: 3% }
	#profile h3{font-size:1.2em;padding: 6px;}
	#profile .inner{flex-direction: column;padding: 0 20px;}
	#profile .inner .group{width:100%;}
	#profile .inner .history{width:100%;}
	#profile .skill ul{
		display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
		justify-content:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;
		flex-wrap:wrap;-ms-flex-wrap:wrap;align-items:flex-start;
		margin-top:0;
	}
	#profile .skill ul li{width:50%;padding:10px;margin-bottom:10px;}
	#profile .skill ul li dt{margin-bottom:5px;}
	#profile .skill ul li dd{padding-top:23px;}
	#profile .skill ul li dd .count span{bottom:-10px;}
	#profile .history .scrollArea{margin-top:10px;}
}
@media all and (max-width:480px) {
	h2{font-size:1.8em;}
	#main .coverBox { width:300%;}
	#portfolio .grid .grid-item{ width: 94%; margin: 3% }
	#profile .skill .foldingButton{display:block;}
	#profile .skill ul{
		display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
		z-index:10;width:100%;background-color:#fff;box-shadow:0 2px 4px rgba(0,0,0,0.15);
		border-radius:0 0 5px 5px;
		opacity:0;pointer-events:none;position:absolute;left:0;top:29px;
		transform:translateY(5%);overflow:hidden;transition: transform .3s ease, opacity .3s ease;
	}
	#profile .skill ul.active{
		pointer-events:initial;transform: translateY(0);opacity: 1;

	}
	#profile .history .scrollArea {height: calc(100% - 27px);}
	.modal .infoArea dl{flex-direction: column;}
	.modal .infoArea dt{width:100%;text-align:left;}
	.modal .infoArea dd{width:100%;padding:0 0 0 20px;}
}