@media (max-width: 1400px) {
	#portfolio .grid .grid-item{ width: 29%; margin: 2% }
}

@media all and (max-width:1024px) {
	#portfolio .grid .grid-item{ width: 44%; margin: 3% }
	#profile .fp-scroller{background:#fff;}
	#profile .inner .group{flex-direction:column;width:40%;margin:1%;}
	#profile .inner .photo{width:100%;}
	#profile .inner .skill{width:100%;margin:0;}
	#profile .inner .history{width:60%;margin:1%;}
}

@media all and (max-width:768px) {
	#profile .history ol li .detail dl dt{float:none;width:100%;text-align:left;}
	#profile .history ol li .detail dl dd{float:none;width:100%;padding-left:10px;}
	.modal .detailWrap{justify-content: left;flex-direction: column;}
	.modal .detailWrap > div{width:100%;}
	.modal .infoArea .projectName{margin-top:20px;}
}

@media all and (max-width:600px) {
	h2{padding-top:0;}
	#portfolio .grid .grid-item{ width: 94%; margin: 3% }
	#profile h3{font-size:1.2em;padding: 6px;}
	#profile .inner{flex-direction: column;padding: 0 20px;}
	#profile .inner .group{position:relative;width:100%;}
	#profile .inner .history{width:100%;}
	#profile .inner .skill{margin-top:420px;}
	#profile .inner .skill ul{
		display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
		justify-content:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;
		flex-wrap:wrap;-ms-flex-wrap:wrap;align-items:flex-start;
		margin-top:0;padding:10px 0;
	}
	#profile .inner .skill ul li{width:50%;padding:10px;margin-bottom:10px;}
	#profile .inner .skill ul li dt{margin-bottom:5px;}
	#profile .inner .skill ul li dd{padding-top:23px;}
	#profile .inner .skill ul li dd .count span{bottom:-10px;}
	#profile .inner .photo{position:absolute;left:0;top:0;width:100%;height:410px;}
	#profile .history .listArea{margin-top:30px;}
}
@media all and (max-width:480px) {
	h2{font-size:1.8em;}
	#main .coverBox { width:300%;}
	#portfolio .grid .grid-item{ width: 94%; margin: 3% }
	#profile .skill ul{
		display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
	}
	#profile .history .scrollArea {height: calc(100% - 27px);}
	.modal .infoArea dl{flex-direction: column;}
	.modal .infoArea dt{width:100%;text-align:left;}
	.modal .infoArea dd{width:100%;padding:0 0 0 20px;}
}